/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  text-align: center;
  font-family: "Roboto";
  padding: 40px;
}

.container {
  background-color: #cffafe;
  padding: 10px;
}
